@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* 숨김 컨텐츠 */
.a11y{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
/* 본문 기본 스타일 */
body{
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    background-color: #fff;
    color: #181818;
    margin: 0;
}
/* 네이버 로고 */
.logo{ 
    width: 230px;
    height: 44px;
    margin: 100px auto 50px;
}
.logo a{
    display: block;
}
.logo img{
    max-width: 100%;
    height: auto;
}
/* 로그인 폼 */
.login-form fieldset{
    border:0;
    margin:0;
    padding:0;
    background-color: pink;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
.user-email,
.user-password,
.ip-state-wrapper,
.btn-login{
    width: 100%;
}
.ip-state-wrapper{
    order: 1;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}
[name="userEmail"],
[name="userPassword"]{
    box-sizing: border-box;
    width: 100%;
}